@model webdev_consultationPhotovoltaique.Models.photovoltaiqueDB.Entreprise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entreprise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.officiel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.officiel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotDePasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotDePasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gouvernourat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gouvernourat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tel2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tel2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampMatricule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampMatricule)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
